RESEND_API_KEY=re_xxxxxxxxxxxx
CONTACT_EMAIL_TO=ethanmillerinvestments@gmail.com
CONTACT_FROM_EMAIL="Leadcraft Agency <onboarding@resend.dev>"
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/ethanmillerinvestments
NEXT_PUBLIC_SITE_URL=https://miller-sites.vercel.app
LEADCRAFT_ENABLE_CHECKOUT=false
LEADCRAFT_CHECKOUT_GO_LIVE_DATE=2026-04-27T00:00:00-04:00
LEADCRAFT_REQUIRE_PROPOSAL_APPROVAL=true
STRIPE_SECRET_KEY=sk_live_xxxxxxxxxxxx
LEADCRAFT_CONTACT_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/xxxx/contact/
LEADCRAFT_CHECKOUT_WEBHOOK_URL=https://hooks.zapier.com/hooks/catch/xxxx/checkout/
LEADCRAFT_AUTOMATION_SECRET=replace_with_shared_secret
