@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0f1c;
  --foreground: #f1f5f9;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0f1c;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}
